.title {
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 4px;
  padding: 10px;
}

.editor {
  background-color: #ffffff;
}

.createBtn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background: blueviolet;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
}
